body {
	
	background: url(/static/images/background.jpg);
	min-height: 100vh;
        background-repeat: no-repeat; 
	background-attachment: fixed;
    	background-size: cover;
}

table {
   width: 100%;
   
}
th, td {
   width: 30%;
   vertical-align: top;
	padding: 2%;
	caption-side: bottom;
}
td .a{
width: 30%;
vertical-align: top;
padding: 2%;
}

img {
	width: 60%;
}


.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}

@media (min-width: 576px) { ... }
