{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="card card-body">
        <div class="row">
            <div class="col-xl-3">
                {% if players == "O" %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text text-black bg-warning">Turn User: </span>
                    </div>
                    <input type="text" class="form-control text-center" value="{{players}} (Circle)" disabled>
                </div>
                {% else %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text text-black bg-warning">Turn User: </span>
                    </div>
                    <input type="text" class="form-control text-center" value="{{players}} (Cross)" disabled>
                </div>
                {% endif %}

                 <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text text-black bg-primary">Mode Game: </span>
                    </div>
                    <input type="text" class="form-control text-center" value="Hum_to_Hum" disabled>
                </div>
                <br>

            </div>

            <div class="col-xl-6">
                <div class="card text-center">
                    <div class="card-header text-white bg-secondary mb-3">
                        <h3>Tic Tac Toe</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Touch to Start</h5>
                        <br>
                        <br>
                        {% if not result %}
                        <table>

                            <tbody>
                            <tr>
                                <td>
                                    {% if boards.0.column_a != "-" %}
                                        {% if boards.0.column_a == "X" %}
                                        <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                        <h1><img src="/static/images/circle4.jpg"/></h1>
                                         {% endif %}
                                    {% else %}
                                    <a href="/move/1/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if boards.0.column_b != "-" %}
                                        {% if boards.0.column_b == "X" %}
                                        <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                        <h1><img src="/static/images/circle4.jpg"/></h1>
                                         {% endif %}
                                    {% else %}
                                    <a href="/move/2/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if boards.0.column_c != "-" %}
                                        {% if  boards.0.column_c == "X" %}
                                        <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                        <h1><img src="/static/images/circle4.jpg"/></h1>
                                         {% endif %}
                                    {% else %}
                                    <a href="/move/3/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if boards.1.column_a != "-" %}
                                    {% if  boards.1.column_a == "X" %}
                                        <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                        <h1><img src="/static/images/circle4.jpg"/></h1>
                                         {% endif %}
                                    {% else %}
                                    <a href="/move/4/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if boards.1.column_b != "-" %}
                                        {% if  boards.1.column_b == "X" %}
                                            <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                            <h1><img src="/static/images/circle4.jpg"/></h1>
                                        {% endif %}
                                    {% else %}
                                    <a href="/move/5/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if boards.1.column_c != "-" %}
                                      {% if  boards.1.column_c == "X" %}
                                            <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                            <h1><img src="/static/images/circle4.jpg"/></h1>
                                        {% endif %}
                                    {% else %}
                                    <a href="/move/6/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if boards.2.column_a != "-" %}
                                        {% if  boards.2.column_a == "X" %}
                                            <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                            <h1><img src="/static/images/circle4.jpg"/></h1>
                                        {% endif %}
                                    {% else %}
                                    <a href="/move/7/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if boards.2.column_b != "-" %}
                                      {% if  boards.2.column_b == "X" %}
                                            <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                            <h1><img src="/static/images/circle4.jpg"/></h1>
                                        {% endif %}
                                    {% else %}
                                    <a href="/move/8/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if boards.2.column_c != "-" %}
                                        {% if  boards.2.column_c == "X" %}
                                            <h1><img src="/static/images/cross2.png"/></h1>
                                        {% else %}
                                            <h1><img src="/static/images/circle4.jpg"/></h1>
                                        {% endif %}
                                    {% else %}
                                    <a href="/move/9/"><img src="/static/images/button.png"/></a>
                                    {% endif %}
                                </td>
                            </tbody>
                        </table>
                        </div>
                         <div class="card-footer text-muted">
                        <form class="form-inline">
                            <a href="/reset/" class="btn btn-success sm-3">Reset Game</a>
                             <a href="/home/" class="btn btn-danger ml-auto mr-3">Quit</a>
                        </form>

                        </div>
                        {% else %}
                    </div>
                    <div class="card-footer text-muted">
                        <form class="form-inline">
                            <a href="/reset/" class="btn btn-success sm-3">Reset Game</a>
                            <a href="/home/" class="btn btn-danger ml-auto mr-3">Quit</a>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-xl">
                 <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text text-white bg-danger">Result: </span>
                    </div>
                    <input type="text" class="form-control text-center" value="{{result}}" disabled>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}